
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    width: 700px;
    background-color: white;
    display: flex;
    flex-direction: row;    /*landscape*/
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 2rem rgba(0,0,0,.1);
    font-size: 16px;
}

.product-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  rgb(255, 208, 0) ;
}

.container .product-image img{
    width: 70%;
    margin: 50px 0;
}

.price{
    align-self: flex-end;
    color: rgba(0,0,0,.8);
    font-size: 22px;
    font-weight: bold;
    margin: 10px;
}

.product-info{
    margin: 10px 25px;
    display: flex;
    flex-direction: column;

}

h1{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 0;
}

h2{
    font-size: 15px;
    margin-top: 0;
}

p{
    color: rgba(0,0,0,.7);
}

